html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.topcontainer {
	background-image: url('assets/topimage.png');
	min-height: 683px;
	max-width: 1920px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.overlay {
	width: 100%;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(0, 0, 0, 0) 42.2%
	);
	position: absolute;
}
nav {
	padding: 0 40px;
	display: grid;
	grid-template-columns: 180px 1fr auto;
	align-items: center;
	border-bottom: 1px solid white;
	position: relative;
	color: white;
}
nav a.logo {
	text-decoration: none;
	display: block;
	max-height: 29px;
	margin: 35px 30px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0 auto;
	display: block;
	padding: 0;
	position: relative;
}
li {
	display: inline-block;
	padding: 35px 5px 30px;
	margin: 0;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0 auto;
	display: block;
	padding: 0;
}
nav ul li {
	display: inline-block;
	padding: 35px 5px 30px;
	margin: 0;
	color: #ffffff;
}
nav ul.sections li {
	position: relative;
}
nav ul li.sections li.cart {
	padding-left: 40px;
	margin-left: 40px;
	width: 1px;
	background: white;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
li.cart {
	padding-left: 40px;
	margin-left: 40px;
}
li.cart::before {
	content: '';
	height: 100%;
	width: 1px;
	background: white;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.boxAbsolute{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	max-height: 336px;
	height: 336px;
	width:680px;
	max-width: 680px;
	background-color: #ffffff;
	padding: 0;
	margin: 0;
}
p.boxText {
	margin: 0;
	padding:40px 100px  40px 96px;
}
.boxText{
	font-family: 'Noto Serif', serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
	color: #000000;
}
a.verMas{
	list-style: none;
	text-decoration: none;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #827264;
	position: relative;
	padding-left: 91px;
}
/*Main Section*/
.menu{
	background-color:  #191919;
	min-height: 81px;
}
ul.options{
	display: grid;
	grid-template-columns:  repeat(4, minmax(130px, 360px));
    align-items: center;
	overflow: hidden;
}
 li.menuli{
	margin: auto;
	
} 
li.menuli a{
	text-decoration: none;
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 27px;
	white-space: nowrap;
}
.maincontainer{
	background-color: #6B5746;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(360px, 720px));
}
article h1{
	font-family: 'Noto Serif', serif;
	 max-height: 123px;
	 max-width: 640px;
	 color:#ffffff;
	 font-size: 30px;
	 font-weight: 700;
	 padding: 40px;
}
.pharagraph{
	max-width: 640px;
	max-height: 180px;
	margin: 10px 40px 40px 40px;
}
.pharagraph p{
	color:#ffffff;
	font-size: 20px;
	padding: 10px
}

img.factoryimg{
	max-height: 924px;
	max-width: 626px;
	margin: 40px 30px 40px ;
}
.asideinfo{
	display: grid;
	align-content: flex-end;
}
img.beerimg{
	max-width: 680px;
	max-height: 608px;
	margin: 10px 40px 30px 40px;
}

@media screen and (max-width: 640px) {
	nav {
		padding: 0;
		grid-template-columns: 180px 1fr;
		grid-template-areas:
			'logo social'
			'footer footer';
		grid-template-rows: auto;
	}
	a.logo {
		grid-area: logo;
		margin-left: 20px;
	}
	ul.social {
		grid-area: social;
		margin-right: 20px;
	}
	ul.sections {
		padding: 0 20px;
		grid-area: footer;
		margin-left: 0;
		display: grid;
		grid-template-columns: auto auto 1fr;
		border-top: 1px solid white;
	}
	li.cart {
        margin-left: auto; }
		li.cart::before{
       display:none;
}
